[Unit]
Description=Looking Glass
Wants=NetworkManager-wait-online.service network.target network-online.target dbus.service
After=NetworkManager-wait-online.service network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/lookingglass

OOMScoreAdjust=-1000

ExecStart=/opt/lookingglass/lookingglass --port 8080

TimeoutSec=300

[Install]
WantedBy=multi-user.target


